<div class="row">


  
  <h1 style="background-color:powderblue;">Hola {{nombre}}</h1>
 
  
  <div class="card mx-auto">
    <div class="card-body"> 
   
      <p clsss="lead">Esta es la pantalla de bienvenida despues de iniciar sesión.</p>
    </div>
  </div>
  
</div>